<h1>Mis Donantes</h1>

<table class="table table-stripped">
  <tr>
    <th>Nombre</th>
    <th>Proyecto</th>
    <th>Cantidad</th>
    <th>Fecha</th>
   
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proyectos.each do |proyecto| %>
  
    <%  proy = Userproject.where("proyecto_id=?",proyecto.id) %>
    <% proy.each do |userproject| %>
        <tr>
       <%  usr = Usuario.find(userproject.usuario_id) %>
        <td><%= usr.nombre + " "+ usr.apellido%></td>
        <td><%= proyecto.nombre %></td>
        <td><%= userproject.monto %></td>
        <td><%= userproject.fecha_monto.to_date %></td>
    <% end %>
  
    
<% end %>
</table>

<br />


